*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    overflow: hidden;
}

.page{
    text-align: center;
    margin-top: 150px;
}

.text1{
    color: rgb(153, 6, 6);
    font-size: 500%;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 15px;
    text-align: center;
}
.text2{
    color: wheat;
    font-size: 150%;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 140px;
    text-align: center;
}

.img1{
   margin-right: 60px;
   position: static;
}
.img2{
   margin-left: 60px;
   position: static;
}


.players{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.p1{
    position: relative;
    top: 110px;
    left: 135px;
}
.p2{
   position: relative;
   top: 110px;
   right: 135px;
}

.player1{
    color: rgb(153, 6, 6);
    font-size: 400%;
    font-family: cursive;   
}
.player2{
    color:rgb(153, 6, 6);
    font-size: 400%;
    font-family: cursive;     
}
